
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
#products-shop-loader{
    z-index: 100;
    top: 250px !important;
    position: relative !important;
    left: 60% !important;
    display: inline-block;
}

@media only screen and (max-width: 860px) {

  #products-shop-loader{
    z-index: 100;
    top: 250px !important;
    position: relative !important;
    left: 46% !important;
    display: inline-block;
  }
}