.modal-result{
    display: none;
    min-height: 100px;
}
.search-spinner{
    display: none;
    z-index: 100;
    top: 55px;
    position: absolute;
    left: 62%;
}

/* .result-search{
  background-color: #fff !important;
  border: #999999 solid 1px;
  border-radius: 10px;
} */

.spinner-border-search{
  width: 2rem;
  height: 2rem;
  vertical-align: -0.125em;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: 0.75s linear infinite spinner-border;
}

@media only screen and (max-width: 860px) {
  .search-spinner{
    display: none;
    z-index: 100;
    top: 100% !important;
    position: absolute;
    left: 44% !important;
}
}

.active-pink-2 input.form-control[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
  }
  .active-pink input.form-control[type=text] {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
  }
  .active-purple-2 input.form-control[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #ce93d8;
    box-shadow: 0 1px 0 0 #ce93d8;
  }
  .active-purple input.form-control[type=text] {
    border-bottom: 1px solid #ce93d8;
    box-shadow: 0 1px 0 0 #ce93d8;
  }
  .active-cyan-2 input.form-control[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
  }
  .active-cyan input.form-control[type=text] {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
  }
  .active-cyan .fa, .active-cyan-2 .fa {
    color: #4dd0e1;
  }
  .active-purple .fa, .active-purple-2 .fa {
    color: #ce93d8;
  }
  .active-pink .fa, .active-pink-2 .fa {
    color: #f48fb1;
  }