#categories-list-loader{
    z-index: 100;
    top: 65px !important;
    position: relative;
    left: 45% !important;
    display: none;
}

.list-cate li.active {
    background-color: #dc354654 !important;
    border-color : #dc354654 !important;
}
