#price-filter-loader{
    z-index: 100;
    top: 15%;
    position: relative;
    left: 48%;
    display: none;
}

#categories-filter-loader{
    z-index: 100;
    top: 15%;
    position: relative;
    left: 48%;
    display: none;
}