.input-image{
    display: block;
    position: relative;
    z-index: 10;
    top: 69px;
    width: 100% !important;
}

/* input[type="file"] {
    position: absolute;
    z-index: -1;
    top: 10px;
    left: 8px;
    font-size: 17px;
    color: #b8b8b8;
  } */

  .button-wrap {
    position: relative;
    padding-top: 1rem;
  }

  .button-file {
    display: inline-block;
    padding: 20% 35%;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    height: auto;
  }

  .delete-icon-thumbnail{
    position: relative;
    top: 43px;
    left: 77px;
    font-size: 1.5rem;
    color: rgb(211, 55, 55);
    z-index: 100;
  }

  .image-icon-thumbnail{
    position: relative;
    top: 0;
    left: 0.5rem;
    font-size: 2rem;
    color: rgb(211, 55, 55);
    z-index: 100;
  }

  .delete-icon-gallery{
    position: relative;
    top: 29px;
    left: 77px;
    font-size: 1.5rem;
    color: rgb(211, 55, 55);
    z-index: 100;
  }

  .image-icon-gallery{
    position: relative;
    top: 0;
    left: 0.5rem;
    font-size: 2rem;
    color: rgb(211, 55, 55);
    z-index: 100;
  }

  @media only screen and (max-width: 860px) {

    .button-file {
      display: inline-block;
      padding: 20% 35%;
      cursor: pointer;
      border-radius: 5px;
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      width: 110% !important;
      height: auto;
    }

    .delete-icon-thumbnail{
      position: absolute;
      top: 43px;
      left: 88%;
      font-size: 2rem;
      color: rgb(211, 55, 55);
      z-index: 100;
    }

    .image-icon-thumbnail{
      position: relative;
      top: 0;
      left: 0.5rem;
      font-size: 5rem;
      color: rgb(211, 55, 55);
      z-index: 100;
    }

    .delete-icon-gallery{
      position: absolute;
      top: 20px;
      left: 94%;
      font-size: 2rem;
      color: rgb(211, 55, 55);
      z-index: 100;
    }

    .image-icon-gallery{
      position: relative;
      top: 0;
      left: 0.5rem;
      font-size: 5rem;
      color: rgb(211, 55, 55);
      z-index: 100;
    }
}